<!DOCTYPE html>
<html>
    <head>
        <title>Navbar 3</title>
        <link rel="stylesheet" href="../assets/stylesheet/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="../assets/stylesheet/navbar.css">
    </head>

    <body>
        <%- include ('navbar.ejs') -%>

        <!-- Dark Mode button -->
        <div class="mode-button" data-aos="fade-in" data-aos-duration="1200" data-aos-delay="1200">
            <input type="checkbox">
            <i class="fas fa-power-off"></i>
        </div>
        
        <!-- bootstrap carousel -->
        <div class="top-container">
            <div class="carousel-container" data-aos="zoom-out" data-aos-duration="1200" data-aos-delay="600">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                   
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                
                    <div class="carousel-inner inverted" style="width: 100%; margin-left: auto; margin-right: auto; transition: 0.4s;">
                
                      <div class="item active men-fashion">
                        <img src="/assets/images/men-fashion.jpg" alt="Men Fashion" style="width:100%;height: 470px;transition: 0.4s;">
                        <div class="carousel-caption">
                            <h1 class="caption" data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200">Men Fashion</h1>
                            <a href="/men-fashion"><button data-aos="fade-left" data-aos-duration="800" data-aos-delay="1200">Check it out</button></a>
                        </div>
                      </div>
                
                      <div class="item carousel-item-2 women-fashion">
                        <img src="/assets/images/women-fashion.jpg" alt="Women Fashion" style="width:100%;height: 470px;transition: 0.4s;">
                        <div class="carousel-caption">
                            <h1 class="caption">Women Fashion</h1>
                            <a href=""><button>Check it out</button></a>
                        </div>
                      </div>
                      
                      <div class="item carousel-item-3 kids-fashion">
                        <img src="/assets/images/kids-fashion.jpg" alt="Kids Fashion" style="width:100%;height: 470px;transition: 0.4s;">
                        <div class="carousel-caption">
                            <h1 class="caption">Kids Fashion</h1>
                            <a href=""><button>Check it out</button></a>
                        </div>
                      </div>

                      <div class="item carousel-item-4 accessories">
                        <img src="/assets/images/accessories.jpg" alt="Accesories" style="width:100%;height: 470px;transition: 0.4s;">
                        <div class="carousel-caption">
                            <h1 class="caption">Accessories</h1>
                            <a href=""><button>Check it out</button></a>
                        </div>
                      </div>
                  
                    </div>
                
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
            <div class="men-clothings">
                <ul>
                    <li>New Arrivals</li>
                    <li>T-shirts & Polo</li>
                    <li>Jerseys</li>
                    <li>Hoodies & Track Tops</li>
                    <li>Jackets</li>
                    <li>Pants</li>
                    <li>Tights</li>
                    <li>Shorts</li>
                </ul>
            </div>
            <div class="women-clothings">
                <ul>
                    <li>New Arrivals</li>
                    <li>T-shirts & Polo</li>
                    <li>Jerseys</li>
                    <li>Hoodies & Track Tops</li>
                    <li>Jackets</li>
                    <li>Pants</li>
                    <li>Tights</li>
                    <li>Shorts</li>
                </ul>
            </div>
            <div class="kids-clothings">
                <ul>
                    <li>New Arrivals</li>
                    <li>T-shirts & Polo</li>
                    <li>Jerseys</li>
                    <li>Hoodies & Track Tops</li>
                    <li>Jackets</li>
                    <li>Pants</li>
                    <li>Tights</li>
                    <li>Shorts</li>
                </ul>
            </div>
        </div>

        <!-- Spring section -->
        <div class="spring-section">
            <div class="flowers">
                <img src="../assets/images/flower-1.png" alt="Flower 1">
                <img src="../assets/images/flower-2.png" alt="Flower 2">
                <img src="../assets/images/flower-3.png" alt="Flower 3">
                <img src="../assets/images/flower-2.png" alt="Flower 2">
                <img src="../assets/images/flower-1.png" alt="Flower 1">
                <img src="../assets/images/flower-3.png" alt="Flower 3">
            </div>
            <h1 data-aos="zoom-in" data-aos-duration="1200">Feel the Spring in us</h1>
            <div class="spring-content">
                <div class="image-container inverted" data-aos="fade-right" data-aos-duration="1200">
                    <div class="picture img-1">
                        <img src="/assets/images/spring-1.jpg" alt="Spring Image 1">  
                    </div>
                    <div class="picture img-2">
                        <img src="/assets/images/spring-2.jpg" alt="Spring Image 2">
                    </div>
                    <div class="picture img-3">
                        <img src="/assets/images/spring-3.jpg" alt="Spring Image 3">
                    </div>
                    
                </div>
                <div class="description" data-aos="fade-left" data-aos-duration="1200">
                    <h2>Our Spring Collection</h2>
                    <button>Shop Now</button>
                    <h5><< Click the photo for surprise</h5>
                </div>
            </div>
        </div>

        <!-- Summer section -->
        <div class="summer-section">
            <div class="summer-item">
                <img src="../assets/images/summer-item-1.png" alt="Summer Item 1">
                <img src="../assets/images/summer-item-2.png" alt="Summer Item 2">
                <img src="../assets/images/summer-item-3.png" alt="Summer Item 3">
                <img src="../assets/images/summer-item-2.png" alt="Summer Item 2">
                <img src="../assets/images/summer-item-1.png" alt="Summer Item 1">
                <img src="../assets/images/summer-item-3.png" alt="Summer Item 3">
            </div>
            <h1 data-aos="zoom-in" data-aos-duration="1200">Feel the Summer in us</h1>
            <div class="summer-content">
                <div class="description" data-aos="fade-left" data-aos-duration="1200">
                    <h2>Our Summer Collection</h2>
                    <button>Shop Now</button>
                    <h5>Click the photo for surprise >></h5>
                </div>
                <div class="image-container inverted" data-aos="fade-right" data-aos-duration="1200">
                    <div class="picture img-1">
                        <img src="/assets/images/summer-1.jpg" alt="Summer Image 1">  
                    </div>
                    <div class="picture img-2">
                        <img src="/assets/images/summer-2.jpg" alt="Summer Image 2">
                    </div>
                    <div class="picture img-3">
                        <img src="/assets/images/summer-3.jpg" alt="Summer Image 3">
                    </div>
                    <div class="picture img-4">
                        <img src="/assets/images/summer-4.jpg" alt="Summer Image 4">
                    </div>
                </div>
            </div>
        </div>

        <!-- Autumn section -->
        <div class="autumn-section">
            <div class="autumn-leaves">
                <img src="../assets/images/autumn-leaves-2.png" alt="Autumn Leaves 2">
                <img src="../assets/images/autumn-leaves-1.png" alt="Autumn Leaves 1">
                <img src="../assets/images/autumn-leaves-3.png" alt="Autumn Leaves 3">
                <img src="../assets/images/autumn-leaves-2.png" alt="Autumn Leaves 2">
                <img src="../assets/images/autumn-leaves-3.png" alt="Autumn Leaves 3">
                <img src="../assets/images/autumn-leaves-1.png" alt="Autumn Leaves 1">
            </div>
            <h1 data-aos="zoom-in" data-aos-duration="1200">Feel the Autumn in us</h1>

            <div class="autumn-content">
                <div class="image-container inverted" data-aos="fade-right" data-aos-duration="1200">
                    <div class="picture img-1">
                        <img src="/assets/images/autumn-1.jpg" alt="Autumn Image 1">  
                    </div>
                    <div class="picture img-2">
                        <img src="/assets/images/autumn-2.jpg" alt="Autumn Image 2">
                    </div>
                    <div class="picture img-3">
                        <img src="/assets/images/autumn-3.jpg" alt="Autumn Image 3">
                    </div>
                    <div class="picture img-4">
                        <img src="/assets/images/autumn-4.jpg" alt="Autumn Image 4">
                    </div>
                    
                </div>
                <div class="description" data-aos="fade-left" data-aos-duration="1200">
                    <h2>Our Autumn Collection</h2>
                    <button>Shop Now</button>
                    <h5><< Click the photo for surprise</h5>
                </div>
            </div>
        </div>


        <!-- Winter section -->
        <div class="winter-section">
            <div class="snowflakes">
                <img src="../assets/images/snowflake-2.png" alt="Autumn Leaves 2">
                <img src="../assets/images/snowflake-1.png" alt="Autumn Leaves 1">
                <img src="../assets/images/snowflake-3.png" alt="Autumn Leaves 3">
                <img src="../assets/images/snowflake-2.png" alt="Autumn Leaves 2">
                <img src="../assets/images/snowflake-3.png" alt="Autumn Leaves 3">
                <img src="../assets/images/snowflake-1.png" alt="Autumn Leaves 1">
            </div>
            <div class="snow inverted">
                <span>.</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </div>
            <h1 data-aos="zoom-in" data-aos-duration="1200">Feel the Winter in us</h1>
            <div class="winter-content">
                <div class="description" data-aos="fade-left" data-aos-duration="1200">
                    <h2>Our Winter Collection</h2>
                    <button>Shop Now</button>
                    <h5>Click the photo for surprise >></h5>
                </div>
                <div class="image-container inverted" data-aos="fade-right" data-aos-duration="1200">
                    <div class="picture img-1">
                        <img src="/assets/images/winter-1.jpg" alt="Winter Image 1">  
                    </div>
                    <div class="picture img-2">
                        <img src="/assets/images/winter-2.jpg" alt="Winter Image 2">
                    </div>
                    <div class="picture img-3">
                        <img src="/assets/images/winter-3.jpg" alt="Winter Image 3">
                    </div>
                    <div class="picture img-4">
                        <img src="/assets/images/winter-4.jpg" alt="Winter Image 4">
                    </div>
                </div>
            </div>
        </div>

    </body>
    <script src="../assets/scripts/script.js"></script>
    <script>
        // prevent slider auto slide
        $('.carousel').carousel({
            interval: false,
        });
    </script>
    <script src="../assets/scripts/dark-mode.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</html>