<!DOCTYPE html>
<html>
    <head>
        <title>Navbar 3</title>
        <link rel="stylesheet" href="../assets/stylesheet/styles.css">
    </head>

    <body>
        <nav class="navbar">
            <ul class="navlinks-left">
                <li>
                    <a href="">Men</a>
                </li>
                <li>
                    <a href="">Women</a>
                </li>
                <li>
                    <a href="">Kids</a>
                </li>
                <li>
                    <a href="">Accesories</a>
                </li>
            </ul>

            <div class="navtitle">
                NAVBAR
            </div>

            <ul class="navlinks-right">
                <li>
                    <a href="">Newsletter</a>
                </li>
                <li>
                    <a href="">Magazines</a>
                </li>
                <li>
                    <a href="">Others</a>
                </li>
                <li>
                    <a href="">Contact Us</a>
                </li>
            </ul>
        </nav>
        
        <div class="top-container">
            
        </div>

    </body>
</html>