<!DOCTYPE html>
<html>
    <head>
        <title>Men Fashion</title>
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="stylesheet" href="../assets/stylesheet/navbar.css">
        <link rel="stylesheet" href="../assets/stylesheet/men-fashion.css">
    </head>

    <body>
        <%- include ('navbar.ejs') -%>

        <div class="background-text">
            <ul>
                <li>Men Fashion</li>
                <li>Men Fashion</li>
                <li>Men Fashion</li>
                <li>Men Fashion</li>
                <li>Men Fashion</li>
            </ul>
        </div>


        <!-- <img src="../assets/images/3D-img-1-removebg-preview.png" alt="3D Image"> -->
    </body>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</html>