<nav class="navbar-container">
    <ul class="navlinks-left" data-aos="zoom-in-down" data-aos-duration="1200">
        <li>
            <a href="" class="men">Men <i class="fas fa-chevron-down"></i></a>
        </li>
        <li>
            <a href="" class="women">Women <i class="fas fa-chevron-down"></i></a>
        </li>
        <li>
            <a href="" class="kids">Kids <i class="fas fa-chevron-down"></i></a>
        </li>
        <li>
            <a href="">Accesories</a>
        </li>
    </ul>

    <div class="navtitle" data-aos="flip-left" data-aos-duration="1200"> 
        <a href="/">NAVBAR</a>
    </div>

    <ul class="navlinks-right" data-aos="zoom-in-up" data-aos-duration="1200">
        <li>
            <a href="">Newsletter</a>
        </li>
        <li>
            <a href="">Magazines</a>
        </li>
        <li>
            <a href="">Others</a>
        </li>
        <li>
            <a href="">Contact Us</a>
        </li>
    </ul>
</nav>