@font-face{
    font-family: 'TropicalAsian';
    src: url('../fonts/LovelyHome-9aBZ.ttf') format('truetype');
}

@font-face{
    font-family: 'GoodUnicorn';
    src: url('../fonts/GoodUnicornRegular-Rxev.ttf') format('truetype');
}

*{
    padding: 0;
    margin: 0;
}

.background-text li{
    list-style-type: none;
    font-size: 200px;
}

.background-text li:nth-child(odd){
    font-family: 'TropicalAsian';
}

.background-text li:nth-child(even){
    font-family: 'GoodUnicorn';
}

.background-text ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}