.navbar-container{
    display: flex;
    justify-content: space-around;
    min-height: 15vh;
    align-items: center;
    /* border-bottom: 1px solid black; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background: linear-gradient(to bottom,#d1a3a4, white); */
    box-shadow: 0 10px 5px -5px gray;
    font-family: 'Moonglade';
}

.navtitle a{
    font-size: 25px !important;
}

.navlinks-left, .navlinks-right{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 40%;
    
}

.navbar-container a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.navbar-container a:hover{
    text-decoration: none;
    color: black;
}

.top-right-small-container{
    display: flex;
    gap: 10px;
    float: right;
    margin-right: 28px;
    width: 6.5%;
    padding: 8px;
    /* border: 1px solid black; */
    /* clip-path: polygon(0% 0%, 100% 0%, 90% 100, 10% 100%); */
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 5% 100%);
    background: rgb(255, 255, 255);
    /* box-shadow: 0 2px 3px 2px gray; */
    /* filter: drop-shadow(0 2px 3px 2px gray); */
}

.wrap{
    filter: drop-shadow(1px 3px 5px rgba(50, 50, 0, 0.5));
}